<!-- New room modal -->
<button type="button" class="btn btn-primary" id="btn-new-room" data-bs-toggle="modal" data-bs-target="#addUsers">
  Add users
</button>

<div class="modal fade" id="addUsers">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUsers">Add users</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-add-users-form"></button>
      </div>

      <%= form_with(url: add_users_rooms_path, model: Room.new, method: :post, id: 'add-user-form') do |form| %>
        <div class="modal-body">
          <%= form.collection_check_boxes(:user_ids, users, :id, :email) do |b| %>
            <%= b.check_box %>
            <%= b.label %>
          <% end %>
        </div>

        <div class="modal-footer">
          <%= form.submit :add %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<!-- END -->