<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUsers">
  Add users
</button>

<!-- Modal -->
<div class="modal fade" id="addUsers">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with url: add_users_room_path(room), method: :post do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="addUsers">Users</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form.collection_check_boxes(:user_ids, users, :id, :email) do |b| %>
            <%= b.check_box %>
            <%= b.label %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= form.submit :add %>
        </div>
      <% end %>
    </div>
  </div>
</div>