<div class="row">
  <div class="col-md-3">
    <div class="rooms">
      <%= render 'modal/add_new_room', users: @users %>

      <% @rooms.each do |room| %>
        <%= render template: 'rooms/template', locals: { room: room } %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9 position-relative">
    <%= render 'modal/add_users', users: @users %>
    <div class="message-box">
      <%= render template: 'messages/message_box', messages: @messages %>
    </div>
    <div class="send-message">
      <%= form_with url: add_message_rooms_path, method: :post, id: 'send-mesage-box' do |form| %>
        <%= form.text_area :content %>
        <%= form.hidden_field :room_id, value: @rooms.present? ? @rooms.first.id : 0 %>
        <%= form.submit 'Send', name: 'send' %>
      <% end %>
    </div>
  </div>
</div>