<div class="container p-0">
  <div class="messaging col-md-12">
    <div class="inbox_msg row">
      <div class="inbox_people col-md-4 d-none d-md-block">

        <div class="headind_srch">
          <div class="recent_heading">
            <div class="d-flex">
              <div class="sidebar-mobile mr-2 d-md-none">
                <button class="btn" type="button" id="close-menu">
                  <i class="fa fa-close"></i>
                </button>
              </div>

              <div class="user-menu mr-2">
                <button class="btn" type="button" data-toggle="dropdown">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="<%= logout_users_path %>">Logout</a>
                </div>
              </div>

              <h4>Rooms</h4>
            </div>
          </div>
          <div class="stylish-input-group">
            <%= render 'modal/add_new_room', users: @users %>
          </div>
        </div>
        <div class="inbox_chat">
            <% @rooms.each_with_index do |room, index| %>
              <%= render template: 'rooms/template', locals: {
                room: {
                    sent_at: Time.current, last_message: ''
                  }.merge(room.as_json.compact),
                active: index.zero?
              } %>
            <% end %>
        </div>
        <div class="logout-on-mobile d-md-none">
          <a href="<%= logout_users_path %>"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </div>

      <div class="mesgs col-md-8">
        <div class="headind_srch">
          <div class="sidebar-mobile d-md-none">
            <button class="btn" type="button" id="open-menu">
              <i class="fa fa-bars"></i>
            </button>
          </div>
          
          <div class="recent_heading">
            <h4 id='room-tilte'><%= @rooms&.first&.title %></h4>
          </div>

          <div class="stylish-input-group">
            <%= render 'modal/add_users', users: @users %>
          </div>
        </div>

        <div class="message-box">
          <%= render template: 'messages/message_box', messages: @messages %>
        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <%= form_with url: add_message_rooms_path, method: :post, id: 'send-mesage-box' do |form| %>
              <%= form.text_field :content, class: 'write_msg', placeholder: 'Type a message', autocomplete: 'off' %>
              <%= form.hidden_field :room_id, value: @rooms.present? ? @rooms.first.id : 0 %>
              <%= form.button '<i class="fa fa-paper-plane-o" aria-hidden="true"></i>'.html_safe, type: 'submit', class: 'msg_send_btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
